.displayFlex {
  display: flex;
}

.header {
  max-width: 100%;
  margin: 0 auto;
  height: 30px;
  align-items: center;

  background-color: #000;
  padding: 1rem 2rem;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 1);

  justify-content: space-between;
  color: #FFF;
}

.header a:hover {
  text-shadow: 0px 0px 16px #D1D1D1;
}

#inicial {
  align-items: center;
  font-size: 1.4rem;
  display: block;
  align-self: center;
}

#menu {
  gap: 3rem;
}

.olHeader {
  align-items: center;
  font-size: 1.1rem;
  align-self: center;
}

#menu {
  display: flex;
  list-style: none;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #btn-mobile {
    color: #FFF;
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #D1D1D1;
    height: 0;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    color: #000;
  }

  #hamburger {
    border-top: 2px solid #FFF;
    width: 25px;
  }

  #hamburger::after,
  #hamburger::before {
    display: block;
    content: '';
    background: #FFF;
    width: 25px;
    height: 2px;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}